@charset "utf-8";
#Container{
	margin-left: auto;
	margin-right: auto;
	border-width:medium;
	border-style: solid;
	border-color: black;
	height:auto;
	background: url("DinosaursBackgrounds.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.borderrad{
	border-radius:15px;
}
#heading{
	margin-left:100px;
	margin-right:100px;
	height:50px;
	text-align: center;
	font-family: "bubbler-one";
}
#Intermission{
	margin-left:135px;
	margin-right:135px;
	border-width:medium;
	border-style: solid;
	border-color: black;
	height:auto;
	background-color:violet;
}
#taskbar{
	margin-left:100px;
	margin-right:100px;
	
}
ul{
	list-style-type:none;
	border-radius: 100px 100px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: blue;
}
li {
	float: left;
}
li a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
-->border-radius: 100px 100px<--
}
li a:hover{
	background-color:lightblue;
}
#InformationBeginning{
	margin-left:100px;
	margin-right:100px;
	height:400px;
	border-color:black;
	border-width: 5px;
	border-style: solid;
	background-color: #339933;
	border-radius: 35px 35px;
	}
#InformationPermian-Triassic{
	margin-left:100px;
	margin-right:100px;
	height:760px;
	border-style:solid;
	border-width:5px;
	border-color:black;
	background-color:yellow;
	border-radius: 35px 35px;
	}
#InformationTriassic{		
	margin-left:100px;
	margin-right:100px;
	height:400px;
	border-color:black;
	border-width: 5px;
	border-style: solid;
	border-radius: 35px 35px;
	background-color: lightgreen;
}
#InformationJurassic{
	margin-left:100px;
	margin-right:100px;
	height:400px;
	border-color:black;
	border-width: 5px;
	border-style: solid;
	background-color: #ff3300;	
	border-radius: 35px 35px;
	}
#InformationCretaceous{
	margin-left:100px;
	margin-right:100px;
	height:450px;
	border-color:black;
	border-width: 5px;
	border-style: solid;
	background-color:Orange;
	border-radius: 35px 35px;
	}
#InformationCretaceous-Paleogene{
	margin-left:100px;
	margin-right:100px;
	height:450px;
	border-color:black;
	border-width: 5px;
	border-style: solid;
	background-color:yellow;
	border-radius: 35px 35px;
}